.bordeo{
    border-width: 0.5px;
    border-color: rgb(17 24 39);
} 

.header {
    background-color: var(--main-color);
}

@media (min-width: 767px){
    .nav {
        display: flex
    }
}


.planet:hover {
    transition: 1s;
    border-radius: 250px;
    filter: drop-shadow(0 0 50px #dddddd);
}