 
.portfolio {
    font-size:  7.375rem;
}

.full {
    font-size:  4.375rem;
}

/* @media(max-width: 898px){
    /* .letra {
        margin-left: 5rem;
    } */
    /* .portfolio {
        font-size:  3.375rem;
    } */

    /* .full {
        font-size:  2.375rem;
    } */
/* } 

 @media(max-width: 665px){ */
    /* .letra {
        margin-left: 2rem;
    } */
    /* .portfolio {
        font-size:  2.375rem; */
    /* }
    .full {
        font-size:  2.375rem;
    } */
/* }  */ 

.planet {
    filter: drop-shadow(0 0 0px #dddddd);
    transition: all 1s ease-in-out;
}

.planet:hover {
    filter: drop-shadow(0 0 50px #dddddd);
}
